<head>
  <%= javascript_pack_tag 'comments' %>
</head>

<%= render '/menubar' %>

<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<div class="input_bar">
  <%= form_with url: new_comment_path(@art_id), method: :post, :id => 'input_form' do |form| %>
    <%= form.hidden_field :art_id, :value => @art_id  %>
    <%= form.label :text, 'Aggiungi un commento' %>
    <%= form.text_area :text %>
    <%= form.submit "pubblica", id: "submit_btn" %>
  <% end %>
</div>
<hr class="row">
<% @comments.each do |comment| %>
  <div class="comment">
    <div class="comment_top">
      <% u = User.find(comment.user.id) %>
      <p class=<%= u==current_user ? "own":"" %>><b><%= u.username %></b></p>
      <% if can? :edit, comment %>
        <button class="button_t" id=<%="edit#{comment.id}"%> onclick=<%="edit(#{comment.id})"%>>modifica</button>
        <button id=<%="cancel#{comment.id}"%> onclick=<%="cancel(#{comment.id})"%> class="hidden">annulla</button>
      <% end %>
      <% if can? :delete, comment %>
        <%= button_to 'elimina', delete_comment_path(art_id: @art_id, id: comment.id), {method: :delete, onclick: 'delete_action(event)' } %>
      <% end %>
    </div>
    <br>
    <p id=<%= "p"+comment.id.to_s %>><%==h(comment.text).gsub(/\n/, '<br/>')%></p>
    <!-- Embedded form for 'modifica' -->
    <% if can? :edit, comment %>
      <%= form_with url: edit_comment_path(comment.id), method: :patch, id: 'form'+comment.id.to_s, class: 'hidden' do |form| %>
        <%= form.hidden_field :art_id, :value => @art_id  %>
        <%= form.text_area :newtext, {id: 'text'+comment.id.to_s} %>
        <%= form.submit "salva", {id: "save_btn"} %>
      <% end %>
    <% end %>
  </div>
<% end %>
<p> <%= if (@comments.empty?)==true then 'Ancora nessun commento' end %> </p>

<br>
<%= link_to 'Indietro', articles_path, class: :link %>

<%= javascript_tag '
  $("textarea").each(function () {
    this.setAttribute("style", "resize: none; height:0.9rem;overflow-y:hidden;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });'%>