<head>
  <%= javascript_pack_tag 'comments' %>
</head>

<%= render '/sidemenu' %>
<%= render '/menubar' %>

<div class="container">

<h1>Commenti</h1>

<div class="card p-3 mb-5">
<%= form_with url: new_comment_path(@art_id), method: :post, :id => 'input_form' do |form| %>
<div class="mt-1 d-flex flex-row">
    
      <%= form.hidden_field :art_id, :value => @art_id  %>
      <%= form.text_area :text, class: "form-control", placeholder: 'Scrivi qui un commento...'%>
      <div class="py-1">
        <%= form.submit "pubblica", id: "submit_btn",class: " btn btn-primary bottom "%>
      </div>
    
</div>
<% end %>
</div>


<p> <%= if (@comments.empty?)==true then 'Ancora nessun commento' end %> </p>

<br>


<% @comments.each do |comment| %>
  <% u = User.find(comment.user.id) %>
  
<div class="container mt-2">
    <div class=" d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-3">

                <div class="d-flex flex-column">
                  <div class="user d-flex flex-row align-items-center">
                    <% if u.image.attached? %>
                      <%=  image_tag(u.image, width:"30px",height:"30px", class:"user-img rounded-circle mr-2") %>
                    <% end %>
                    <span class="mx-2"><small class=<%= u==current_user ? "own":"" %>><b><%= u.username %></b></small> 
                  </div>

                  <div class="d-flex flex-column  mt-2">
                    <p class="font-weight-bold mx-2" id=<%= "p"+comment.id.to_s %> class=""><%==h(comment.text).gsub(/\n/, '<br/>')%></p>
                    
                    <!-- Embedded form for 'modifica' -->
                    <% if can? :edit, comment %>
                    
                      <%= form_with url: edit_comment_path(art_id: @art_id, id: comment.id), method: :patch, id: 'form'+comment.id.to_s, class: 'hidden' do |form| %>
                        <div class="mt-1 d-flex flex-row">
                        <%= form.hidden_field :art_id, :value => @art_id  %>
                        <%= form.text_area :newtext, {id: 'text'+comment.id.to_s, class: 'form-control'} %>
                        <div class="py-1">
                          <%= form.submit "salva", {id: "save_btn", class: "btn btn-primary bottom"} %>
                        </div>
                        </div>
                      <% end %>
                      
                    <% end %>
                  </div>

                  <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="reply px-4">
                      <% if can? :edit, comment %>
                        <small class="" id=<%="edit#{comment.id}"%> onclick=<%="edit(#{comment.id})"%>>modifica</small>
                        <small id=<%="cancel#{comment.id}"%> onclick=<%="cancel(#{comment.id})"%> class="hidden">annulla</small>
                      <% end %>
                      <span class="dots"></span>
                      <% if can? :delete, comment %>
                        <small>
                        <%= link_to 'elimina', delete_comment_path(art_id: @art_id, id: comment.id), {method: :delete, onclick: 'delete_action(event)', class: :link} %>
                        </small>
                      <% end %>
                        
                    </div>
                    <div class="icons align-items-center">
                      <small><%=comment.published_at%></small>
                    </div>
                </div>
              </div>
                
            </div>
        </div>
        
    </div>
    
</div>
<% end %>

<%= link_to 'Indietro', articles_path(), class: :link %>
</div >

<%= javascript_tag '
  $("textarea").each(function () {
    this.setAttribute("style", "resize: none; height: 1.1rem; removerflow-y:hidden;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });'%>