<head>
  <%= javascript_pack_tag 'comments' %>
</head>
<%= form_with(model: article) do |form| %>
  <div class="card-body">
  <div class="mb-3">
    <%= form.label :Titolo,"TITOLO (max. 100 caratteri)", {class:"footer text-muted mb-0 mt-md-0 mt-2"}%>
    <%= form.text_field :title ,{ class: "form-control"}%>
  </div>

  <div class="mb-3">
    <%= form.label :Body,"TESTO",{class:"footer text-muted mb-0 mt-md-0 mt-2"} %>
    <%= form.text_area:body , class: "form-control"%>
  </div>
  
  <div class="mb-3">
    <%= form.label :Image,"IMMAGINE(URL)", {class:"footer text-muted mb-0 mt-md-0 mt-2"}%>
    <%= form.text_field :img_url, class: "form-control"%>
  </div>

  <%= form.hidden_field :updated_at, :value => DateTime.now  %>
  <%= form.hidden_field :created_at, :value => DateTime.now  %>
  <%= form.hidden_field :published_at, :value => DateTime.now  %>

  <%= form.hidden_field :author_id, :value => current_user.id  %>


  <div class="actions">
    <%= form.submit "Pubblica",class: "btn btn-primary"%>
  </div>
  </div>
<% end %>
<%= javascript_tag '
  $("textarea").each(function () {
    this.setAttribute("style", "resize: none; height: 1.1rem; removerflow-y:hidden;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });'%>