<head>
  <%= javascript_pack_tag 'comments' %>
</head>
<%= form_with(model: article) do |form| %>

  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :title , :size=>40 %>
  </div>

  <div>
    <%= form.label :Body %><br>
    <%= form.text_area:body %>
  </div>
  
  <div>
    <%= form.label :Image %><br>
    <%= form.text_field :img_url %>
  </div>

  <%= form.hidden_field :updated_at, :value => DateTime.now  %>
  <%= form.hidden_field :created_at, :value => DateTime.now  %>
  <%= form.hidden_field :published_at, :value => DateTime.now  %>

  <%= form.hidden_field :author_id, :value => current_user.id  %>
  
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= javascript_tag '
  $("textarea").each(function () {
    this.setAttribute("style", "resize: none; height: 1.1rem; removerflow-y:hidden;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });'%>