<head>
    <%= javascript_pack_tag 'articles.js' %>
</head>

<%= render '/sidemenu' %>
<%= render '/menubar' %>

<div class="notice">
  <p id="notice"><%= notice %></p>
</div>

<div class="filters_container">

  <%= form_with url: articles_path, method: :get do |form| %>
    <%= form.label :find, "Cerca:" %>
    <%= form.text_field :find, {value: (session[:find].nil? ? '':session[:find]) , onchange: 'this.form.submit()'} %>
    <%= form.submit "cerca", name:nil %>
    Mostra:
    <%= form.check_box :local, {checked: (session[:local]=='1' ? true:false), onchange: 'this.form.submit()'},1 ,nil %>
    <%= form.label :local, 'interni' %>
    <%= form.check_box :ext, {checked: (session[:ext]=='1' ? true:false), onchange: 'this.form.submit()'}, 1, nil %>
    <%= form.label :ext, 'esterni' %>
    <%= form.hidden_field :commit, :value => 'update' %>
  <% end %>
  <button type="button" onclick="clear_form();"> &nbsp X &nbsp </button>
</div>

<%#= image_tag @apod_url %>

<hr class="row">

<div class="artcontainer">
  <% @articles.each do |article| %>
    <div class="art_prev">
      <div class="art_content">
        <% if article.ext_id ==nil %>
        <%=  link_to article.title, article, {class: 'link art_title'} %>
        <%=  content_tag :p, 'Autore: ' + User.find(article.author_id).username, {class: 'art_src'} %>
        <% end %>
        <% if article.ext_id !=nil %>
        <%= link_to article.title, article.url, {class: 'link art_title'} %>
        <%= content_tag :p, article.news_site, {class: 'art_src'} %>
        <% end %>
        <%= link_to "commenti", comments_url(article), {class: 'link linkto_comments'} %>
      </div>
      <img src=<%= article.img_url%>>
    </div>
  <% end %>
</div>

<br>
<div class="index">
  <%== pagy_nav(@pagy) %>
</div>