<head>
    <%= javascript_pack_tag 'articles.js' %>
</head>

<%= render '/menubar' %>

<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<%= link_to 'Edit Profile',edit_user_registration_path, method: :get%>
<%= button_to 'Logout',destroy_user_session_path, :method => :delete%>
<% end %>

<% if !(user_signed_in?) %>
<%= link_to 'Log in', new_user_session_path, method: :get%>
<%= link_to 'Sign up',new_user_registration_path, method: :get%>
<% end %>

<br><br>
<% if user_signed_in? %>
<%= link_to 'Proposte da utenti', proposal_path(user: :admin)%>
<%= link_to 'Proponi', proposal_path(user: :normal)%>
<% end %>


<div class="filters_container">

  <%= form_with url: articles_path, method: :get do |form| %>
    <%= form.label :find, "Cerca:" %>
    <%= form.text_field :find, {value: (session[:find].nil? ? '':session[:find]) , onchange: 'this.form.submit()'} %>
    <%= form.submit "cerca", name:nil %>
    Mostra:
    <%= form.check_box :local, {checked: (session[:local]=='1' ? true:false), onchange: 'this.form.submit()'},1 ,nil %>
    <%= form.label :local, 'interni' %>
    <%= form.check_box :ext, {checked: (session[:ext]=='1' ? true:false), onchange: 'this.form.submit()'}, 1, nil %>
    <%= form.label :ext, 'esterni' %>
    <%= form.hidden_field :commit, :value => 'update' %>
  <% end %>
  <button type="button" onclick="clear_form();"> &nbsp X &nbsp </button>
</div>

<%#= image_tag @apod_url %>

<hr class="row">

<div class="artcontainer">
  <% @articles.each do |article| %>
    <div class="art_prev">
      <div class="art_content">
        <% if article.local ==true %>
        <%=  link_to article.title, article, {class: 'link art_title'} %>
        <%=  content_tag :p, article.author_id.to_s, {class: 'art_src'} %>
        <% end %>
        <% if article.local !=true %>
        <%= link_to article.title, article.url, {class: 'link art_title'} %>
        <%= content_tag :p, article.news_site, {class: 'art_src'} %>
        <% end %>
        <%= link_to "commenti", comments_url(article), {class: 'link linkto_comments'} %>
      </div>
      <img src=<%= article.img_url%>>
    </div>
  <% end %>
</div>

<br>
<%== pagy_nav(@pagy) %>
<!== %= link_to 'New Article', new_article_path %>