<head>
    <%= javascript_pack_tag 'articles.js' %>
</head>

<%= render '/sidemenu' %>
<%= render '/menubar' %>



<div class="">

    <div class="d-flex justify-content-center search_container mb-3">
    <div class="col-md-8">
    <%= form_with url: articles_path, method: :get, id: 'filters' do |form| %>
        <div class="">
          <div class="d-flex justify-content-between align-items-center mt-3">
              <span class="font-weight-bold">Mostra articoli</span>
              <div class="d-flex flex-row">
              <label class="btn btn-primary mx-2 my-auto">
              <%= form.check_box :local, {checked: (session[:local]=='1' ? true:false), onchange: 'this.form.submit()'},1 ,nil %>
                <%= form.label :local, 'interni' %>
                <span class="fa fa-check"></span>
		          </label>
              <label class="btn btn-primary mx-2 my-auto">
              <%= form.check_box :ext, {checked: (session[:ext]=='1' ? true:false), onchange: 'this.form.submit()'}, 1, nil %>
              <%= form.label :ext, 'esterni' %>
                <span class="fa fa-check"></span>
		          </label>
              <button type="button" class="btn btn-close mx-2" aria-label="Close" onclick="clear_form();"> </button>
                
                
                <%= form.hidden_field :commit, :value => 'update' %>

              </div>
          
          </div>
          <div class="my-3 d-flex flex-row">
              <i class="fa fa-search"></i>
              <%= form.text_field :find,{value: (session[:find].nil? ? '':session[:find]) , onchange: 'this.form.submit()', class: "form-control", placeholder:"Cerca..."} %>
              <%= form.submit "cerca", name:nil, class: "btn btn-primary"%>
          </div>
          <% end %>
          
    </div>
  </div>
</div>

<%#= image_tag @apod_url %>


<div class="artcontainer">
  <% @articles.each do |article| %>

    <div class="container">
    <div class="art_preview d-md-flex align-items-center justify-content-between">
      <div class=" box-a d-flex flex-column h-100">
        <div class="mt-4 mx-3">
          <% if article.ext_id.nil? %>
            <%=  link_to article.title, article, {class: 'mb-1 h-1 link'} %>
            <%=  content_tag :p, 'Autore: ' + User.find(article.author_id).username, {class: ''} %>
          <% end %>
          <% if article.ext_id !=nil %>
            <%= link_to article.title, article.url, {class: 'link art_title'} %>
            <%= content_tag :p, article.news_site, {class: 'art_src'} %>
          <% end %>
          <% if can? :delete, article %>
            <%= button_to 'elimina', delete_article_path(article), {method: :delete, class: 'btn btn-primary', onclick: 'delete_action(event)' } %>
          <% end %> 
          <%= link_to "commenti", comments_url(article), {class: 'btn btn-primary'} %>


        </div>
      </div>
      <div class="box-i mt-md-0 mt-5">
      
      <img src=<%= article.img_url=='' ? "/assets/images/def#{article.title.sum%3}.jpg":article.img_url %>>
      </div>

    </div>
    </div>
  <% end %>
</div>

<br>
<div class="index">
  <% if @articles.count == 0 %>
    <%= 'Nessun articolo trovato' %> 
  <% else %>
    <%== pagy_nav(@pagy) %>
  <%end%>
</div>








