<head>
    <%= javascript_pack_tag 'articles.js' %>
    <%= stylesheet_link_tag 'main.css'%>
</head>
<%= render '/sidemenu' %>
<%= render '/menubar' %>

<div class="container card">
<h1>Create New Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Back', :back, class: :link %>
</div>