<head>
    <%= javascript_pack_tag 'articles.js' %>
    <%= stylesheet_link_tag 'main.css'%>
</head>
<%= render '/menubar' %>

<h1>Create New Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Back', :back %>
