<head>
    <%= stylesheet_link_tag 'main' %>
</head>

<%= render '/menubar' %>

<p id="notice"><%= notice %></p>

<div class="art_body">

  <%= form_with url: @article, method: :get, id: 'filters' do |form| %>
    <%= form.label :lang, 'Seleziona lingua di lettura: '%>      
    <%= form.select :lang, @options, {selected: (@lang)}, {onchange: 'this.form.submit()'} %>
  <% end %>

  <p id="trans_notice" style="font-size: 0.9rem; color: green; opacity: 75%"><%= @lang!='Italiano' ? @notice:''  %></p>
  
  <H1><%= @title %></H1>
  <p  style="font-size:0.8rem">
  <%= if @article.published_at.nil?
    "Articolo non ancora pubblicato"
  else
    @article.published_at.strftime("%d ") + t(@article.published_at.strftime("%B")) + @article.published_at.strftime(" %Y")
  end%>
    <%=  %>
  </p>
  <img src=<%= @article.img_url %> height="220" width="340">
  <p><%= @body %></p>
  <%= link_to 'Indietro', :back, class: :link %>
  <%= link_to 'Commenti', comments_url(@article), class: :link %>
</div>