<% if resource.errors.any? %>
  <div id="error_explanation" class="mt-auto">
    <p class="mb-0 text-muted">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
    <p class="footer text-muted mb-0 mt-md-0 mt-4">
      
      <% resource.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </p>
  </div>
<% end %>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
