<head>
<%= javascript_pack_tag 'launch' %>
<%= stylesheet_link_tag 'launches' %>
</head>

<%= render '/sidemenu' %>
<%= render '/menubar_alt' %>

<div class="container">
<h1>Prossimi lanci</h1>
<p id="notice"><%= notice %></p>
<div class="launches_list">
    <% id = 0 %>
        <% @display.each do |item| %>
            <div class="launch_item">
                <p><%= item[:name] %></p>
                <div id= <%= 't'+id.to_s %>></div>
                <div id= <%= id.to_s %> hidden> <%= item[:t0].to_i.to_s%> </div>
                <p><%= link_to('Da: ' + item[:location], 'https://www.google.com/maps/search/?api=1&query=' +CGI.escape(item[:location]), target: :_blank) %></p>  
                <p><%= item[:date].strftime("%d ") + t(item[:date].strftime("%B")) + item[:date].strftime(" %Y %H:%M UTC+2") %></p>
                <p><%= item[:agency] %></p>
            </div>
        <% id+=1 %>
    <% end %>
</div>
<%= link_to 'Indietro', articles_path, class: :link%>
</div>
    
<%= javascript_tag '$( document ).ready(timer())' %>