<head>
  <%= javascript_pack_tag 'comments' %>
</head>

<%= form_with(model: proposal) do |form| %>

  <div>
    <%= form.label :Title %><br>
    <%= form.text_field :title ,:size=>40  %>
  </div>

  <div>
    <%= form.label :Body %><br>
    <%= form.text_area:body %>
  </div>
  
  <div>
    <%= form.label :Image %><br>
    <%= form.text_field :img_url %>
  </div>


<!--
  <% if proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
        <% proposal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
-->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_tag '
  $("textarea").each(function () {
    this.setAttribute("style", "resize: none; height: 1.1rem; removerflow-y:hidden;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });'%>