<head>
  <%= javascript_pack_tag 'comments' %>
</head>

<%= form_with(model: proposal) do |form| %>
  <div class="card-body">
  <div class="mb-3">
    <%= form.label :title, "TITOLO", {class:"footer text-muted mb-0 mt-md-0 mt-2"}%>
    <%= form.text_field :title ,{ class: "form-control"}%>
  </div>

  <div class="mb-3">
    <%= form.label :Body,"TESTO",  {class:"footer text-muted mb-0 mt-md-0 mt-2"} %>
    <%= form.text_area:body , class: "form-control"%>
  </div>
  
  <div class="mb-3">
    <%= form.label :Image,"IMMAGINE (URL)", {class:"footer text-muted mb-0 mt-md-0 mt-2"}%>
    <%= form.text_field :img_url, class: "form-control"%>
  </div>


<!--
  <% if proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
        <% proposal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
-->
  <div class="actions">
    <%= form.submit "Invia",class: "btn btn-primary"%>
  </div>
  </div>
<% end %>

<%= javascript_tag '
  $("textarea").each(function () {
    this.setAttribute("style", "resize: none; height: 1.1rem; removerflow-y:hidden;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });'%>