<head>
    <%= javascript_pack_tag 'articles.js' %>
    <%= stylesheet_link_tag 'main.css'%>
</head>
<%= render '/menubar' %>
<p id="notice"><%= notice %></p>
<h1>Proposte</h1>

<p> <%= if (@proposals.empty?)==true then 'Non ci sono proposte' end %> </p>

<div class="artcontainer">
  <% @proposals.each do |proposal| %>
    <div class="art_prev">
      <div class="art_content">
        <%= link_to proposal.title, proposal, {class: 'link art_title'}%>
        <% if current_user.has_role? :admin %>
          <p class="art_src"> Article by: <%= proposal.user.username %></p> 
        <%end %>
        <% if current_user.has_role? :user %>
          <p class="art_src"> Status: <%= proposal.status %></p> 
          <%=link_to 'Elimina', proposal, method: :delete, data: {confirm: "Are you sure?"},class: :linkto_comments %>
        <%end %>

      </div>
      <img src=<%= proposal.img_url%>>
    </div>
  <% end %>
</div>

<% if current_user.has_role? :user %>
  <%= link_to "Nuovo articolo", new_proposal_path %>
  <hr class="row">
  <h2>Le proposte rifiutate</h2>

  <p> <%= if (@rejected_proposals.empty?)==true then 'Non hai articoli pubblicati' end %> </p>

  <div class="artcontainer">
  <% @rejected_proposals.each do |proposal| %>
  <div class="art_prev">
      <div class="art_content">
        
        <%= link_to proposal.title, proposal, {class: 'link art_title'}%>
        <%= if current_user.has_role? :user
          link_to 'Elimina', proposal, method: :delete, data: {confirm: "Are you sure?"},class: :linkto_comments
        end %>
        </div>
        <img src=<%= proposal.img_url%>>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Indietro", articles_path%>