<head>
    <%= javascript_pack_tag 'articles.js' %>
    <%= stylesheet_link_tag 'main.css'%>
</head>
<%= render '/sidemenu' %>
<%= render '/menubar' %>
<div class="container">
<h1>Proposte</h1>

<p> <%= if (@proposals.empty?)==true then 'Non ci sono proposte' end %> </p>


  <div class="artcontainer">
  <% @proposals.each do |proposal| %>

    <div class="container">
    <div class="art_preview d-md-flex align-items-center justify-content-between">
      <div class=" box-a d-flex flex-column h-100">
        <div class="mt-4 mx-3">
          <%= link_to proposal.title, proposal, {class: 'mb-1 h-1 link'}%>
          <% if can? :update, Proposal %>
            <p > Article by: <%= proposal.user.username %></p> 
          <%end %>
          <% if can? :delete, proposal %>
            <p > Status: <%= proposal.status %></p> 
            <%=link_to 'Elimina', proposal, method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-primary" %>
          <%end %>
        </div>
      </div>
      <div class="box-i mt-md-0 mt-5">

      <img src=<%= proposal.img_url=='' ? '/assets/def1.jpeg':proposal.img_url %>>
      </div>

    </div>
    </div>
  <% end %>
</div>

<% if can? :create, Proposal %>
  <%= link_to "Nuova proposta", new_proposal_path, {class: 'link'} %>
  <hr class="row">
  <h2>Le proposte rifiutate</h2>

  <p> <%= if (@rejected_proposals.empty?)==true then 'Non ci sono proposte rifiutate' end %> </p>


    <div class="artcontainer">
    <% @rejected_proposals.each do |proposal| %>
  
      <div class="container">
      <div class="art_preview d-md-flex align-items-center justify-content-between">
        <div class=" box-a d-flex flex-column h-100">
          <div class="mt-4 mx-3">
            <%= link_to proposal.title, proposal, {class: 'mb-1 h-1 link'}%>
            <p > </p> 
            <% if can? :delete, proposal %>
              <%=link_to 'Elimina', proposal, method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-primary" %>
            <%end %>
          </div>
        </div>
        <div class="box-i mt-md-0 mt-5">
  
        <img src=<%= proposal.img_url=='' ? '/assets/images/def1.jpg':proposal.img_url %>>
        </div>
  
      </div>
      </div>
    <% end %>
  </div>
  <% end %>
<%= link_to "Indietro", articles_path, {class: 'link'}%>

</div>