<head>
    <%= javascript_pack_tag 'articles.js' %>
    <%= stylesheet_link_tag 'main.css'%>
</head>
<%= render '/menubar' %>

<h1>New Proposal</h1>

<%= render 'form', proposal: @proposal %>

<%= link_to 'Back', proposals_path %>
