
<%= render '/menubar' %>
<%= render '/sidemenu' %>

<div class="container">
<div class="card">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= render "users/shared/error_messages", resource: @user %>

<% if current_user.image.attached? %>
  <%=  image_tag(current_user.image, style:" display:inline-block;
                                      height:150px;
                                      width:150px;
                                      object-fit:cover;
                                      border-radius:50%;
                                      ") %>
<% end %>
<div class="card-body">
<%= form_with url: edit_profile_path(current_user), method: :post, :id => 'profile_form' do |form| %>
  
  <div class="mb-3">
    <%= form.file_field :image, direct_upload: true , class: "text-muted mb-0 mt-md-0 mt-2"%>
  </div>

  <div class="mb-3">
  <%= form.label :username , {class:"text-muted mb-0 mt-md-0 mt-2"}%><br />
  <%= form.text_field :username, value: current_user.username ,class: "form-control"%>
  </div>

  <%= form.submit "salva", id: "submit_btn",class: "btn btn-primary" %>
<% end %>

<% if current_user.provider.nil? %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <!--<div class="mb-3">
      <%#= f.label :email , {class:"text-muted mb-0 mt-md-0 mt-2"}%><br />
      <%#= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
    </div>-->



    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>


    <div class="mb-3">
      <%= f.label :password , {class:"text-muted mb-0 mt-md-0 mt-2"}%> <i class="text-muted mb-0 mt-md-0 mt-2">(lasciare vuoto per non modificare)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control"%>
      <% if @minimum_password_length %>
        <br />
        <em class="text-muted mb-0 mt-md-0 mt-2"> lunghezza minima: <%= @minimum_password_length %> </em>
    </div>

    <div class="mb-3">
      <%= f.label "conferma password" , {class:"text-muted mb-0 mt-md-0 mt-2"}%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
    </div>
    <% end %>

    <div class="mb-3">
      <%= f.label "password corrente" , {class:"text-muted mb-0 mt-md-0 mt-2"}%> <br />
      <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" , class: "btn btn-primary"%>
    </div>
  <% end %>
  
 <% end %>
 </div>

<!-- <h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div> -->

<%= link_to "Back", articles_path, action: :get, class: :link%>

</div>
</div>